.header-container *{
  color: rgb(247, 247, 247) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0) !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.1em;
}

.dropdown-item{
  color: rgb(247, 247, 247) !important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size:large;
}

.logo{
  margin-right: 1em;
}

.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #343a40 !important; /* Darker shade on hover */
  color: white !important;
}

.content{
  margin: 1rem;
}

.carousel-item img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  display: block;

}
.Coaches{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  font-family:"Times New Roman", Times, serif;
  font-weight: bold;
}

.coach-img{
  height: 25rem !important;
  width: 100%;
}

.login-page , .contact-page, .gallery-page{
  height: 90vh;
}

body{
  background-color: rgb(255, 255, 255) !important;
}

